
<%%# Displays list of @<%= instances_name %> %>
<div id="div_@<%= instance_name %>_@<%= instances_name %>">
	<%% @<%= instances_name %>.sort! { |a,b| a.name.downcase <=> b.name.downcase }.each do |<%= instance_name %>| %>
		<div id="div_@<%= instance_name %>_@<%= instance_name %>_<%%= @<%= instance_name %>.id %>">
			<%%= render :partial=>"@<%= instance_name %>", :locals=>{:@<%= instance_name %>=>@<%= instance_name %>} %>
		</div>
	<%% end %>
	<%% if @<%= instances_name %>.blank? %>
		<div class="box text-color-grey padding-80 text-align-center" style="height:200px;">
			No @<%= instances_name %> found.
		</div>
	<%% end %>
</div>
<div class="cl"></div>

<%% if @<%= instances_name %>.any? %>
   <%%= content_tag :div, :class=>"pull-right" do %>
     <%%= paginate @<%= instances_name %>, :remote => true, :theme => 'twitter-bootstrap' %>
   <%% end %>
<%% end %>
<div class="cl"></div>
