
<%%# Renders a partial which is used to create a new <%= instance_name %> %>

<%%= form_for(<%= form_for_object %>, :html => {:id=>"form_<%= instance_name %>", :class=>"margin-bottom-0 form-horizontal", :role => "form", :method => (@<%= instance_name %>.new_record? ? :post : :put), :remote=>true}) do |f| %>
  
  <%%= @<%= instance_name %>.errors[:base].to_sentence %>
  
  <%%= hidden_field_tag :faction, @<%= instance_name %>.new_record? ? <%= resource_link('index', 'path') %> : <%= resource_link('index', 'path') %>(@<%= instance_name %>) %>
  <%%= hidden_field_tag :fmethod, @<%= instance_name %>.new_record? ? "POST" : "PUT" %>

  <div class="form-inputs">
    
  <%- fields.each do |name, type| %>
    <!-- <%= name.titleize -%> (<%= type -%>) -->
    <%%= render :partial=>"field", :locals=>{:object=>@<%= instance_name %>, 
                                            :object_name=>'<%= instance_name %>', 
                                            :field_name=>'<%= name %>', 
                                            :display_name=>'<%= name.titleize %>', 
                                            :field_type=>'<%= type %>', 
                                            :input_type=>'<%= guess_input_type(name, type) %>', 
                                            :required=>true, 
                                            :place_holder=>"e.g: Put a suitable example here."} %>
  <%- end -%>
    
  </div>
  
	<%% button_text = "#{@<%= instance_name %>.new_record? ? "Create" : "Update"} Item" %>
   <div class="pull-right">
			<%% if @<%= instance_name %>.new_record? %>
				<%%= link_to "Cancel", "#", :class => "btn", :remote=>true %>
			<%% else %>
				<%%= link_to 'Back', <%= resource_link('index', 'path') %>, :class=>"btn margin-left-10", :remote => true unless @<%= instance_name %>.new_record? %>
			<%% end %>
      <%%= submit_tag button_text, "data-reset-text"=>button_text, "data-loading-text"=>"Saving ...", :class=>"btn btn-primary margin-left-10" %>
   </div>
	<div class="cl-10"></div>
	
<%% end %>

