
<%%# Displays a detailed view of the <%= instance_name %> %>
<%%# Display Flash Message if any only in case of ajax request %>
<%% if request.xhr? %>
	<%%= render :partial=>"layouts/common/flash_message" %>
<%% end %>

<div class="box p-10">

  <div class="row">
    <div class="col-md-3">
      <%%= display_image(@<%= instance_name %>, :photo, "100%") %>
    </div>

    <div class="col-md-9">
      <div class="heading1">This is a heading <%%#= @<%= instance_name %>.id %></div>
      <div class="heading2">Sub heading <%%#= @<%= instance_name %>.another_field %></div>
    </div>
  </div>

  <table class="table table-condensed table-hover table-striped mt-20">
    <tbody>
      <tr>
        <td class="bold" style="width:30%;">Id</td>
        <td><%%= @<%= instance_name %>.id %></td>
      </tr>
      <tr>
        <td class="bold" style="width:30%;">Created at</td>
        <td><%%= display_time(@<%= instance_name %>.created_at, "text-color-grey") %></td>
      </tr>
      <tr>
        <td class="bold" style="width:30%;">Last updated at</td>
        <td><%%= display_time(@<%= instance_name %>.updated_at, "text-color-grey") %></td>
      </tr>
    </tbody>
  </table>

  <%- string_fields.each do |name| -%>
    <%- next if name == main_string_field -%>
	<div class="row">
    <%%= content_tag :span, "<%= name.titleize %>:", :style=>"font-weight:bold", :class=>"col-md-4" %>
    <%%= content_tag :span, @<%= instance_name %>.<%= name %>, :class=>"col-md-8 ext-color-grey" %>
	</div>
	<%- end -%>

	<%- fields.map{|name, type| name unless ["text", "string"].include?(type)}.compact.uniq.each do |name| -%>
  	<div class="row">
      <%%= content_tag :span, "<%= name.titleize %>:", :style=>"font-weight:bold", :class=>"col-md-4" %>
      <%%= content_tag :span, @<%= instance_name %>.<%= name %>, :class=>"col-md-8 ext-color-grey" %>
  	</div>
	<%- end -%>

	<%- text_fields.each do |name| -%>
	<div class='italic m-10'><%%= simple_format @<%= instance_name %>.<%= name %> %></div>
	<%- end -%>

  <div class="cl-20"></div>

  <div class="palette-footer ml-10">
    <%%= link_to raw("<i class=\"icon-pencil icon-white mr--5\"></i> Edit"), <%= resource_link('edit', 'path') %>(@<%= instance_name %>), :class=>"btn btn-default btn-xs pull-right ml-10", :remote=>true %>
    <%%= link_to raw("<i class=\"icon-remove \"></i> Delete"), <%= resource_link('destroy', 'path') %>(@<%= instance_name %>), method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger btn-xs pull-right", :remote=>true %>
    <div class="cl-10"></div>
  </div>

</div>