<%% if @<%= instances_name %>.any? %>

	// Fill the right box with first <%= instance_name %> details in the list
	$('#div_<%= instance_name %>_details').html("<%%= escape_javascript(render(:partial=>'show')) %>");
	
	// Rendering the item list
	$('#div_<%= instance_name %>_index').html("<%%= escape_javascript(render(:partial=>"index")) %>");
	
<%% else %>

  var noResultsText = "<div class=\"box text-color-grey padding-80 text-align-center\" style=\"height:200px;\">No <%= instances_name %> found.</div>";
	$('#div_<%= instance_name %>_details').html(noResultsText);
	$('#div_<%= instance_name %>_index').html(noResultsText);

<%% end %>