<%%# describes about each <%= instance_name %> %>
<div class="box hoverable p-10 box-border-black">

  <div class="pull-left">
    <%%= link_to <%= instance_name %>.<%= main_string_field %>, <%= resource_link('show', 'path') %>(<%= instance_name %>), :remote=>true, :class=>"text-color-blue fs-16" %></br>
	</div>
  <div class="pull-right text-color-red fs-12">
    <%%= display_time(<%= instance_name %>.created_at) %>
  </div>

  <div class="cl"></div>

	<div class="p-5">
	<%- text_fields.each do |name| -%>
	  <%%= scrap_word(<%= instance_name %>.<%= name %>, 200) %>
	<%- end -%>
	</div>

  <div class="cl"></div>

</div>